body{
    font-family: 'Montserrat', sans-serif;
}


.header{
    height: 104px;
    display: block;
    width: 100%;
    background: white;
    margin-bottom: 100px;
}

.link-main{
    margin-bottom: 60px;
}
.link-description
{
    flex-grow: 1;
    margin-right: 2px;
}
.description{
    height: 182px;
    margin-bottom: 60px;
}

.card-1-title{
    height: 96px;
    width: 360px;
    margin: 12px 52px 4px 52px;
}

.card-1-description{
    width: 416px;
    padding-bottom: 8px;
}

.card-2-description{
    width: 416px;
    height: 120px;
}

.picture{
    clip-path: ellipse(70% 75% at 39% 37%);
}
.big-picture{
    clip-path: inset(10% 0 0 0);
    height: 347px;
    width: 480px;
}
.grid-block{
    width: 464px;
    height: 416px;
    min-width: 300px;
}

.main-grid{
    padding-bottom: 60px;
}


.footer{
    height: 180px;
    width: 100%;
    position: absolute;
    background: #FFFFFF;
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}
.footer-top-navigation{
   padding-bottom: 25px;
    padding-top: 40px;
}

.footer-navigation-text{
    color: #666666;
}
.footer-bot{
    padding-bottom: 51px;
}

.information{
    height: 16px;
    width: 1014px;
}